@font-face {
  font-family: Inika-Bold;
  src: url(fonts/Inika-Bold.ttf);
}

html{
  margin-top: -10px;
  overflow-y: hidden;
}

*{
  margin: 0;
  padding: 0;
}

.navbar {
  text-align: center;
  height: 7vh;
  background-color: #421E86;
  font-family: Inika-Bold;
}

.navbar p{
  font-size: 32px;
  color: #ffffff;
}

.main{
  background-color: #3259B3;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Inter;
}

/* Estilos para elementos */
.input-container {
  display: flex;
  align-items: center;
  width: 600px;
  position: relative; /* Agrega esta propiedad para que los elementos absolutos se posicionen correctamente */
}

input {
  border-radius: 20px;
  font-size: 20px;
  color: dimgray;
  padding: 10px 60px 10px 15px; /* Aumenta el padding a la derecha para dejar espacio al botón */
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  margin-right: 15px;
}

.keyboard {
  position: absolute;
  right: 25px; 
  top: 50%;
  transform: translateY(-50%); 
  width: 24px; 
  height: 24px; 
  cursor: pointer;
  border: none;
}


.resolver {
  border-radius: 20px;
  font-size: 20px;
  color: dimgray;
  margin-right: 10px;
  padding: 10px;
  box-sizing: border-box;
  width: 150px;
  height: 70px;
}

p {
  font-size: 24px;
  color: #ffffff;
  margin-top: 10px;
  margin-left: 10px;
}
