@font-face {
  font-family: Inika-Bold;
  src: url(fonts/Inika-Bold.ttf);
}

html{
  overflow-y: hidden;
}

*{
  margin: 0;
  padding: 0;
}

.navbar {
  text-align: center;
  height: 7vh;
  background-color: #421E86;
  font-family: Inika-Bold;
}

.navbar p{
  font-size: 32px;
  color: #ffffff;
}

.main{
  background-color: #3259B3;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Inter;
}

input {
  border-radius: 20px;
  font-size: 20px;  
  color: dimgray;
  margin-right: 10px;
  padding: 10px;
  box-sizing: border-box;
  width: 600px;
  height: 70px;
  text-indent: 15px;
}

button{
  border-radius: 20px;
  font-size: 20px;  
  color: dimgray;
  margin-right: 10px;
  padding: 10px;
  box-sizing: border-box;
  width: 150px;
  height: 70px;
}